/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
   .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .numberic {
    display: inline-block;
    width: 8%;
    height: 31px;
    }
    .numberic span {
    text-align: center;
    position: relative;
    top: 3px;
    left: 11px;
   }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.btn{
    padding: 6px 12px;
  }
     .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
.btn{
  padding: 6px 12px;
}
    .hidden-sm{
        display:none !important;
    }
  .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  

  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .hidden-sm{
        display:none !important;
    }
 
  .btn{
    padding: 6px 12px;
  }

  .questions span {
        padding: 10px 0px 8px 13px;
    }
    
    .question__data{
      padding-right:1px !important;
      padding-left:1px !important;
    }
.question_section {
        box-shadow: 0 0 1px rgba(0,0,0,0.6);
      -moz-box-shadow: 0 0 1px rgba(0,0,0,0.6);
      -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.6);
      -o-box-shadow: 0 0 1px rgba(0,0,0,0.6);
      border-radius : 3px;
  }



   
  }



    @media (min-width: 320px) and (max-width:991px)   {
      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
   
     padding-right:1px !important;
      padding-left:1px !important;
      }

.ans_mode, .question__data{margin-top: 61px}

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-right: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;                       /* SZEROKOŚĆ SIDEBARA */
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #f3fffd;                /* KOLOR SIDEBARA */
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 300px;     
  right: 0;/* SZEROKOŚĆ ZAWARTOŚCI SIDEBARA */
}

.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}

.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}

.sidebar-nav .dropdown-menu {
    background-color: grey;             /* KOLOR BG DROPDOWNA */
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.active a,
.sidebar-nav li.active a:hover,
.sidebar-nav li.active a:active,
.sidebar-nav li.active a:focus {
    background-color: transparent;
    color: red;
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/* FOR left side */
.navbardum-fixed-top {
        left: auto;
    position: absolute;
    top: 0;
    border-width: 0 0 1px;
    right: 0;
    z-index: 1030;
    z-index: 0;

    /*display: none;*/
}

    .show__mob{
        display: none;
    }

    .hide_in_lap{
        display: block !important;
    }
    }