/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
   .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
  }
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .numberic {
    display: inline-block;
    width: 8%;
    height: 31px;
    }
    .numberic span {
    text-align: center;
    position: relative;
    top: 3px;
    left: 11px;
   }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.btn{
    padding: 6px 12px;
  }
     .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
.btn{
  padding: 6px 12px;
}
    .hidden-sm{
        display:none !important;
    }
  .numberic {
      display: inline-block;
      width: 8% !important;
      height: 31px;
    }
    .numberic span {
      text-align: center;
      position: relative;
      top: 3px !important;
      left: 11px;
   }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    .hidden-sm{
        display:none !important;
    }
 
.btn{
  padding: 6px 12px;
}
    
  }