.login{width: 300px;padding:10px;left: 50%;margin-top:50px;margin-left: -160px;border: 10px solid #FFF;display: block;-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.1);box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.mrg{margin-top:25px; margin-bottom:10px;}
.pagination {margin: 2px 0;}
.pad{padding:5px 5px;}
.mrg-1{margin-top: 5px;}
.mrg-left{margin-left: 10px;}
.mrg-right{margin-right: 10px;}
.mrg-top{margin-top: 10px;}
.mrg-bottom{margin-bottom: 10px;}
.mrg-mail{margin-top: 55px;}
.mrg-sm{margin-top:10px;}
.asc{background: url('../img/sort_asc.png') no-repeat center right;cursor: pointer;display: block;}
.desc{background: url('../img/sort_desc.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a{color:#000;background: url('../img/sort_both.png') no-repeat center right;cursor: pointer;display: block;}
table tr th a:hover{text-decoration: none;}
.error-message{color: #FF0000;}
.cust-supt{font-size: 45px;font-weight:900;font-family:"Times New Roman", Times, serif; color:#2166b1;margin-left:15px;margin-top:25px;}
.cust-head2{font-size: 18px;margin:15px 15px 15px 15px; font-weight:900;font-family:"Times New Roman", Times, serif; color:#545454;text-align: center;}
.cust-head2 a{color:#ff2626;}
.cust-list li{ line-height:35px; font-size:18px;font-weight:900;font-family:"Times New Roman", Times, serif; color:#7b7d70;}
.cust-list li a{color:#555555;}
.error-message{color: #FF0000;}
.dg-content{color: #666;font-size: 20px;line-height: 2.6em;text-align: justify;}
@media only screen and (min-width: 220px) and (max-width: 565px) {.dg-content{color: #666;font-size: 18px;line-height: 1.6em;text-align: justify;}}
.dg-icon.step-1{background-position: -5px 0;}
.dg-icon.step-2{background-position: -5px -240px;}
.dg-icon.step-3{background-position: -5px -480px;}
.dg-icon.step-4 {background-position: -5px -720px;}
.progress.active .progress-bar {-webkit-transition: none !important;transition: none !important;}
.exam-logo{margin-left:10px;margin-top: 10px;margin-bottom: 10px;}
.exam-photo{text-align:right;margin-top: 10px;margin-bottom: 10px;}
.exam-border{border-top: 4px solid #132035;margin-bottom: 5px;margin-top: 5px;margin-left: -15px;margin-right: -15px;}
.exam-heading{text-align: center;font-size:24px; font-weight: 500;}
.exam-logo{font-size: 26px;padding-top: 15px;}
@media only screen and (min-width: 520px) and (max-width: 570px) {.exam-logo{font-size: 18px;}}
@media only screen and (min-width: 470px) and (max-width: 519px) {.exam-logo{font-size: 16px;}}
@media only screen and (min-width: 420px) and (max-width: 469px) {.exam-logo{font-size: 14px;}}
@media only screen and (min-width: 220px) and (max-width: 419px) {.exam-logo{font-size: 12px;}}
.exam-panel{overflow-y: scroll;}
.input-sm-small{height: 30px;padding: 0px 0px;font-size: 12px;line-height: 1.5;border-radius: 0px;}
.dropdown-menu{right: 0px;margin-top: 2px;box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);background-color: #FFF;padding: 0px 0px;
    left: -21px !important;
    text-align: center;
}
.max-column{max-width: 350px;}
#exam-loading{position: absolute;z-index:999;top: 150px;}
.my-result{background-color: #ffffff;}
.rtest_heading{font-family: Arial, Helvetica, sans-serif;font-size: 18px;color: #535352;margin:20px;}
.rank{color: #649130;font-size: 16pt;font-weight: bold;}
.rank_name{font-size: 12px;font-weight: bold;}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: -20px;
}
.main-top-timer{float: right;z-index:1;margin-bottom: -50px;}
@media only screen and (min-width: 220px) and (max-width: 991px) {.main-top-timer{height: 100px;}}
.table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger, .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > tbody > tr.danger > td, .table > tfoot > tr.danger > td, .table > thead > tr.danger > th, .table > tbody > tr.danger > th, .table > tfoot > tr.danger > th {color: #ffffff;}
#msg_alert {position: fixed;top: 15px;left: 450px;opacity: 0.9;min-width: 40%;z-index: 9999999999;}
@media only screen and (min-width: 220px) and (max-width: 991px) {#msg_alert {top: 60px;left: 0px;min-width: 100%;}}
.main-content-exam{min-height: 585px;}
.global-logo{max-width:300px;max-height:75px;}
.front-dash-logo{max-width:200px;max-height:90px;}
/**/
.front-logo{
   max-width:300px;max-height:77px;
    padding: 5px 0 5px 0px;
    }
.admin-dash-logo{max-width:200px;max-height:65px;}
.admin-dash-collapsed-logo{max-width:80px;max-height:45px;}
.img-package{max-width:inherit;}


.questions span {
    display: inline-block;
    font-size: 22px;
    padding: 10px 0px 8px 27px;
    text-align: justify;
    line-height: 1.6;
}

.options{
    padding:10px 0px 8px 30px;
    line-height:35px; 
}
.options_span{
    padding-left:10px ; 
   font-size:20px;
}
.question_section{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.report{
	background-color: #fff;
	/*border:1px solid black;*/
	padding:30px 20px 25px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
	/*none|h-offset v-offset blur spread color |inset|initial|inherit;*/
	}
.report_section a {
    border: 1px solid #404040;
    padding: 8px 12px 7px 12px;
    line-height: 15px;
    border-radius: 30%;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #6666ff;
    font-weight: 620;
     /*background: #fff;*/
}
  /*
.answered{
  border: 2px solid #993300 !important;
    background: #00cc00;
    color:#ffffff !important;
    border:none !important;
  border-bottom:5px solid #666 !important;
  border-left: 2px solid transparent !important; 
 border-right: 5px solid transparent!important;
  
  border-radius:30% !important;
}
.answered_escape{
       background: #ff7733;
    color:#ffffff !important;
     border:none !important;
}
*/

.btn-sm {

    width: 27px;
    padding: 2px 6px 2px 6px;
    margin: auto;
    text-align: center;

}

.caption_bottom >div{
    display: inline-block;
    margin:0px 10px 0px 10px;
}
.exam_icon{
    width:55px;
}


.daily-quiz-card {
height: 288px;
padding: 12px 16px 46px;
border-radius: 3px;
border-color: transparent;
background-color: #fff;
-webkit-box-shadow: 0 2px 4px 1px rgba(0,0,0,.15);
box-shadow: 0 2px 4px 1px rgba(0,0,0,.15);
}
.mt-card {
position: relative;
float: left;
width: 224px;
white-space: normal;
border: 2px solid #eaeaea;
z-index: 20;
margin: 20px 12px;
}

.card-details {
    list-style: none;
position: relative;
left: -19px;
}
.card-details .count {
  font-size: 15px;
  font-weight: bold;
    float: right;
color: #495563;
margin-right: 31px !important;
}
.card-details > li >h5{
display: inline;
}
.card-details li {
text-transform: uppercase;
font-size: 13px;
color: #8e9aa9;
padding: 8px 0;
text-align: left;
}
.examQuestion h5{
display: inline;
}
.examQuestionCount span{
float: left;
    margin-top: -4px;
}
.btn-custom , .btn-exam-custom{
  padding: 5px 66px;
letter-spacing: 0.6px;
text-transform: uppercase;
border: none;
}
.btn-exam-custom{
    padding: 9px 11px;
    font-feature-settings: unset;
    letter-spacing: 1.5px;
    margin: 0px 10px;
    border-radius: 10px;
    font-family: sans-serif;
}
.time {
    position: relative;
    /*top: 36px;*/
}
.timer_data{
       background: rgba(226, 226, 226, 0.21);
   /* border-radius: 50%;
    height: 120px;
    width: 120px;
   */ text-align: center;
    /*border: 3px solid #f4a909c4;*/
    font-weight: bold;
    font-size: 16px;
        margin-bottom: 44px;
    color: #000;
    }

    .numberic {
    display: inline-block;
    width:7%;
    height: 37px;
    border-radius: 50%;
    background: #ccc;
    margin: 13px;
}
  .numberic span {
       text-align: center;
    position: relative;
    top: 6px;
    left: 16px;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff !important;
}
.not_answered, .negative_mark{
  background: #ff3333 !important;
}
.answered , .postitive_mark{
  background: #39ac39!important;
 
}
.not_visited{
    background: #ddd!important;
}
.review{
  background: #8d63c3 !important;
}
.current {
    background: #3399ff !important;
}

.question_process_color div{
display: inline-block;
padding: 9px;
}

.answered_count {
    border-radius: 50%;
    behavior: url(PIE.htc);
    width: 24px;
    height: 24px;
    padding: 8px;
    text-align: center;
    font: 14px Arial, sans-serif;
    
    color:#fff;
}
.postitive_mark, .negative_mark{
    padding: 2px !important;
    border-radius: 8px;
    width: 43px;
    text-align: center;
    margin: 5px;
}
.postitive_mark >a{
    color: #fff;
}
.negative_mark > a{
    color: #fff;
}
.question_process_color span{
    font-size: 15px;
    font-weight: 550;
    }

    .opt_data{
        padding: 5px;
        /* box-shadow: 0px 37px #fbfbfbf5; */
        max-width: 80%;
    }
    .mt-20{
        margin-top:20px !important;
    }
    .question_mark_details{
        position: relative;
    top: -49px;
    right: -9px;
    }
.inline{
    display: inline !important;
}

.inline_block{
    display: inline-block !important;
}
.detail_heading{
    font-weight: 600;
    font-size: 120%;
    padding: 5px 1px;
    margin: -2px 49px;
}
.head_span{
    font-weight: 700;
    font-size:150%;
}
   

div.avatarbox {
    background: #106eca;
    border: none;
    border-radius: 40px;
    color: #fff;
    float: left;
    font-size: 10px;
    font-weight: 700;
    line-height: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 32px;
    height: 32px;
}
div.material_avatar {
  
    cursor: pointer;
    border-radius: 40px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding: 3px;
    margin-top: 2px;
    position: relative;
    float: left;
    margin: 0;
    border: none;
    background: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}
.profile_img{
    border-radius: 40px;
  
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 32px;
    height: 32px;
}

.topper_div{
    padding: 5px;
    border-bottom: 1px dashed #fff;
    border-radius: 5px;

}
.user_pic {
    position: relative;
    left: 20px;
    top:9px;
    height: 93px;

}
.topper_div_img {
    left: 63px;
    }
.user_pic h4{
  position: absolute;
  top: 35px;
  left: 20px;
  font-weight: 500;
  font-style: initial;
  letter-spacing: 0.8px;
  font-size: 148%;
}
.mark_data{
float: right;
right: 63px;
top: -78px;
position: relative;
bottom: 0;

}
.mark_data > span{
display: block;
margin-bottom: 0px !important;
font-size: 19px;
font-family: initial;
color: #362c2c;
text-align: center;
}
.obtain_mark{
 border-bottom:1px solid black;
 padding-bottom:2px;
 font-weight: bold;
}
.topper_section{
  box-shadow: 3px -1px 0px -1px #a6a7aa;
background: #777d7833;
min-height: 400px;
padding-top: 12px;
}
.exam_inspect{
  padding-top: 38px;
}
.section_instruct{
  padding-top:10px !important;
}
.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.options_div > .answer{
 font-size:17px;
     padding: 0px 0px 0px 38px;
    line-height: 3;
}
.answer > p{
  display: inline;
}

.btn-og {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ffa500;
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  }
  
  .btn-og:hover, .btn-og:focus, .btn-og:active, .btn-og.active, .btn-og.disabled, .btn-og[disabled] {
    color: #fff;
    background-color: #ff0000;
    *background-color: #ff0000;
  }
  
  .btn-og:active, .btn-og.active {
    background-color: #ff0000 \9;
  }
  .options_span p {
    display: inline;
    padding: 2px 3px;
}