
	.box-services-c {
		margin: 0 auto;
	    border-radius: 50%;
	    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	    text-align: center;
	    width: 245px;
	    padding: 20px;
	}
	.font_bold{
		font-weight: 400;
	}
	.homehedp{font-size: 18px;color: #5A6779;font-weight: 400; width: 70%;margin: 0 auto;}
	.btn {
		display: inline-block;
		padding: 8px 2rem;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 3px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		/* box-shadow: 0 2px 10px rgba(0,0,0,0.5); */
		border: none; 
		font-size: 15px;
		text-align: center;
		background-color: #00bcd4;
	}
	.home .header {
		margin: 32px 0;
	}
	.homepackage{
		margin: 32px 0;
	}
	h2.title {
		margin: 8px 0 24px;
		text-transform: uppercase;
		font-weight: 300;
	}
	p.text{position: relative!important;background-color: transparent !important;color: #5A6779!important;}
	.flexslider{box-shadow: none!important;}
	.slideimg{
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}
	.input-state {
		position: relative;
		margin-top: 24px;
	}
	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
	}
	.get-apps-link input[type=text] {
		border-width: 2px;
		height: auto;
		font-weight: 500;
		border-color: transparent transparent #F0F0F0;
		padding: 12px 96px 12px 0;
	}
	.top-bg-overlay-fill {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #0000007;
	}
	.lb-content {
		/*display: inline-block;*/
		vertical-align: middle;
		white-space: normal;
		
		position: relative;
		padding: 35px 0;
		margin-left: -4px;
		color: #fff;
	}
	
	.top-bg-overlay-fill {
    position: absolute;
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.list-group-image {
    height: 230px;
}

.view_all:hover .btn_blue{
    background:#72a9d3 !important;
    color:#fff !important; 
}

.btn{box-shadow:none;}
.btn_blue{background:#4096DB !important}
.view_all{float:right; }
.view_all_btn{color:#F8FBFE;padding:7px 15px;letter-spacing:1px;font-size:17px}
    .MultiCarousel {
         float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; 
         }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
    .item_margin{        margin:0px 4px 0px 4px;border: 1px solid #ddd;    }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px;color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
    .caption{margin-top:4px}


    .fancy-collapse-panel .panel-default > .panel-heading {
padding: 0;

}
.fancy-collapse-panel .panel-heading a {
padding: 12px 35px 12px 15px;
display: inline-block;
width: 100%;
background-color: rgba(0, 0, 0, 0.53);
color: #ffffff;
position: relative;
text-decoration: none;
text-align: center;
}
.fancy-collapse-panel .panel-heading a:after {
font-family: "FontAwesome";
content: "\f147";
position: absolute;
right: 20px;
font-size: 20px;
font-weight: 400;
top: 50%;
line-height: 1;
margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
content: "\f196";
}

.exam_explore_div{

        text-align: center;
}

.couse_exam_div{

		    box-shadow: 1px 1px 14px #ccc;
		    padding:15px 8px;
	}
	.exam_couse {
    /* box-shadow: 1px 1px 10px #8d8dd6; */
    margin: 4px 2px 14px 0;
    border: 1px dashed #ccc;

}

.new__tag{
	position: absolute;
    left: 30px;
    top: 1px;
    font-size: 12px;
    letter-spacing: 1.5px;
    padding: 6px 14px;
    border-radius: 8px 3px 9px;
    background: orange;
    pointer-events: none;
}